<!-- Sidebar -->
  <div id="sidebar" class="bg-primary">
    <ul class="nav nav-pills nav-fill flex-column">
      <li class="nav-item">
        <a class="nav-link {{#if overview}} active {{/if}}" href="/overview"><i class="fas fa-table mr-1"></i> Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{#if mapview}} active {{/if}}" href="/mapview"><i class="fas fa-map-marked-alt mr-1"></i> Map View</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{#if share}} active {{/if}}" href="/share"><i class="fas fa-share-alt mr-1"></i> Share</a>
      </li>
    </ul>
  </div>