<style>
    body{
        background: rgb(41,41,54);
        background: linear-gradient(90deg, rgba(41,41,54,1) 0%, rgba(41,113,111,1) 84%, rgba(45,119,97,1) 100%);
        font-size: 1em;
        color: #eee
    }
</style>
<div class="container m-auto text-center mt-5">
    <div class="p-5 mt-5 border-0">
        <h1 class="display-1 font-weight-bold mt-5">404</h1>
        <p class="mb-5">Oops! Looks like the resource you're looking for doesn't exist.</p>
        <a href="/" class="btn btn-primary w-25 m-auto">Go Home</a>
    </div>
</div>
