<div class="container-fluid wrapper">
  {{> sidebar }}
  <!-- Content -->
  <div class="dashcontainer container-fluid">
    
    <h1>Overview</h1>
    <p>lorem ipsum dolor sit amet.</p>
    
  </div>
</div>