<div class="container-fluid wrapper">
    {{> sidebar }}
    <!-- Content -->
    <div class="container-fluid p-3" id="content">
        <div class="table-responsive">
        <table class="table table-curved table-striped table-bordered dt-responsive display nowrap" id="logTable" style="width:100%">
            <thead class="table-primary text-center">
                <tr>
                    <th>Name</th>
                    <th>Started</th>
                    <th>Ended</th>
                    <th>Duration</th>
                    <th>Starting Location</th>
                    <th>End Location</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="data"></tbody>
        </table>
        </div>
        <div class="modal fade" id="deleteSessionModal" tabindex="-1" role="dialog" aria-labelledby="deleteSessionModal" aria-hidden="true">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content p-3">
                    <div class="modal-header d-flex flex-column">
                        <div class="icon-box">
                            <i class="fas fa-trash"></i>
                        </div>
                        <h4 class="modal-title mx-auto">Are you sure?</h4>	
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Do you really want to delete this session? This action cannot be undone.</p>
                    </div>
                    <div class="modal-footer mx-auto">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                        <button type="button" id="modalDeleteButton" class="btn btn-danger" data-dismiss="modal">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div id="loadOverlay" class="loadOverlay">
            <div class="overlayInner">
                <div class="overlayContent"><span class="spinner"></span></div>
            </div>
    </div>
</div>