<section class="section">
  <div class="container mt-5">
    <h1 class="title">
      Torque-Dash
    </h1>
    <p class="subtitle">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
    <table class="table">
      <thead>
        <tr>
          <th>Email</th>
          <th>v</th>
          <th>session</th>
          <th>id</th>
        </tr>
      </thead>
      <tbody id="data">

      </tbody>
    </table>
  </div>
</section>