<div class="container mt-5">
    <div class="row">
		<div class="col">
    		<div class="p-5 login m-auto">
			  	<div class="mb-5">
			    	<h3 class="panel-title mb-3">Welcome</h3>
                    {{#if success}}
                        <p class="text-success">{{success}}</p>
                    {{else}}
                        <p>Please log in to continue</p>
                    {{/if}}
                    
			 	</div>
			  	<div class="">
			    	<form accept-charset="UTF-8" role="form" action="/users/login" method="POST">
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="E-mail" name="email" type="email" required>
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="Password" name="password" type="password" value="" required>
			    		</div>
                        {{#if error}}
                            <div class="alert alert-dismissible alert-warning">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Whoops!</strong> {{error}}
                            </div>
                        {{/if}}
			    		<input class="mt-4 mb-4 btn btn-lg btn-success btn-block" type="submit" value="Log in">
			    	</fieldset>
			      	</form>
                      <small>Don't have an account yet? <a href="/register">Register</a></small>
			    </div>
			</div>
		</div>
	</div>
</div>
