html, body{
    height:100%;
}

.login {
    border: none;
    width: 500px;
    /* background-color: red; */
    text-align: center;
}
.login h3{
    font-size: 3em;
    font-weight: 800;
}
.login .form-control{
    border: none;
    background-color: #eee;
    padding: 30px 20px;
    width: 100%;
}