<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Torque-Dash</title>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{> navbar }}
    {{{body}}}

    <script src="/js/lib/jquery-3.3.1.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    {{#if register}}
        <script src="/js/register.js"></script>
    {{/if}}
    {{#if realtime}}
        <script src="/js/realtime.js"></script>
    {{/if}}
</body>
</html>